<div class="timeline">
    <% @tweets.each do |status| %>
        <p>
            <div style="float:left; margin:5px">
                <a href="http://twitter.com/<%= status['user']['screen_name'] %>">
                    <img src="<%= status['user']['profile_image_url'] %>" width="48" height="48"/>
                </a>
            </div>
            <div style="">
                <a href="http://twitter.com/<%= status['user']['screen_name'] %>">@<%= status['user']['screen_name'] %></a>
                <%= status['text'] %>
            </div>
            <br clear="all"/>
        </p>
    <% end %>
</div>



